.buttonBye {
  width: 186px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background: #296DC1;
  display: none;
}
