
.cart__content {
   display: flex;
   flex-direction: column;
}

.cart__form_button {
    display: flex;
    gap: 14px;
}

.cart__button_clear {
    background: transparent;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    width: 200px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        color: #ffffff;
        background-color: #000000;
    }
}

.cart__button_continue {
    background: transparent;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    width: 200px;
    height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        color: #ffffff;
        background-color: #000000;
    }
}
.cart__form_price{
    display: block;
    color: #000;   
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    margin: 30px 47px 60px 0;
    align-self: flex-end;
}