.cart__item {
  border-bottom: 0.5px solid #cacdd8;
  padding: 25px 30px 32px;
  display: flex;
  align-items: center;

  &_name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 274px;
    margin-right: 150.6px;
  }

  &_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
  }

  &_price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #050505;
  }

  &_link_box {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 210%;
    text-decoration-line: underline;
    display: flex;
    color: #000000;
    gap: 30px;
  }

  &_link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000000;
    cursor: pointer;
    font-size: 40px;
    width: 40px;
    height: 40px;
    flex-grow: 1;

    &:hover {
      background-color: #296dc1;
      color: #ffffff;
    }
  }
}
.cart__input {
  border: 0.5px solid black;
  width: 80px;
  height: 40px;
  background: #ffffff;
  box-sizing: border-box;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer;

  &:hover {
    background-color: #296dc1;
    color: #ffffff;
  }
}
.up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: #296dc1;
    color: #ffffff;
  }
}
.InputControls {
  border: 0.5px solid black;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 160px;
}
.cart__img {
  margin-right: 64px;
}
.cart__item_total {
  width: 100px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-right: 118px;
}
.cart__item_button {
  width: 172px;
  height: 40px;
  background: #296dc1;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border: none;
  display: none;
}
