@media (min-width: 750px) and (max-width: 1200px) {
  .center {
    padding-left: 65px;
    padding-right: 65px;
  }

  .catalogItemsBox {
    gap: 40px 40px;
    grid-template-columns: repeat(3, 270px);
  }
  .footer {
    padding-bottom: 9px;
  }
}

@media (min-width: 581px) and (max-width: 749px) {
  .center {
    padding-left: 65px;
    padding-right: 65px;
  }

  .catalogItemsBox {
    grid-template-columns: repeat(1, 450px);
  }

  .item {
    height: 590px;
    width: 450px;
    padding-bottom: 20px;

    &__img {
      width: 334px;
      height: 400px;
    }
  }
  .button {
    opacity: 1;
    cursor: pointer;
  }
  .footer {
    padding-bottom: 9px;
  }
}

@media (min-width: 510px) and (max-width: 580px) {
}

@media (min-width: 320px) and (max-width: 509px) {
}
