@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.item {
  display: flex;
  height: 380px;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #dedede;
}
.item__title {
  color: #000;
  width: 230px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  margin-bottom: 15px;
  margin-top: 34px;
}
.item__img {
  cursor: pointer;
}
.item__img:active {
  border: 1px solid rgb(0, 0, 0);
}
.item__price {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 35px;
}

.center {
  padding-left: calc(50% - 590px);
  padding-right: calc(50% - 590px);
}

.catalogItemsBox {
  display: grid;
  gap: 40px 30px;
  justify-content: center;
  grid-template-columns: repeat(4, 270px);
}

.selectBox__select {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../public/img/1.png") no-repeat right;
  background-position-x: calc(100% - 15px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-left: 14px;
  padding-right: 75px;
  cursor: pointer;
}

.selectBox {
  display: flex;
  justify-content: center;
}

.selectBox__main-title {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
  margin-bottom: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 60px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 24px;
  width: 142px;
  position: relative;
}
.navigation::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="23" viewBox="0 0 28 23"><path d="M21.8699 7.07692L20.4234 2.00808C20.2588 1.43436 19.8798 0.925163 19.3465 0.561352C18.8132 0.197541 18.1562 -3.38738e-05 17.4798 4.3561e-09H10.5202C9.84385 -3.38738e-05 9.18684 0.197541 8.65353 0.561352C8.12022 0.925163 7.74118 1.43436 7.57659 2.00808L6.13006 7.07692H0L3.97543 20.9919C4.14002 21.5656 4.51906 22.0748 5.05237 22.4386C5.58568 22.8025 6.24269 23 6.91908 23H21.0809C21.7573 23 22.4143 22.8025 22.9476 22.4386C23.4809 22.0748 23.86 21.5656 24.0246 20.9919L28 7.07692H21.8699ZM12.9884 15.9231V21.2308H10.7934L9.65029 15.9231H12.9884ZM9.27601 14.1538L8.13295 8.84615H12.9884V14.1538H9.27601ZM15.0116 15.9231H18.3497L17.2066 21.2308H15.0116V15.9231ZM15.0116 14.1538V8.84615H19.8671L18.724 14.1538H15.0116ZM21.9205 8.84615H25.4104L23.8931 14.1538H20.7775L21.9205 8.84615ZM9.53902 2.44154C9.5944 2.24526 9.72499 2.0715 9.90904 1.94917C10.0931 1.82685 10.3195 1.76334 10.5506 1.76923H17.5101C17.7412 1.76334 17.9676 1.82685 18.1517 1.94917C18.3357 2.0715 18.4663 2.24526 18.5217 2.44154L19.7861 7.07692H8.21387L9.53902 2.44154ZM6.07948 8.84615L7.22254 14.1538H4.10694L2.5896 8.84615H6.07948ZM5.90751 20.5585L4.61272 15.9231H7.6474L8.78035 21.2308H6.91908C6.688 21.2367 6.46159 21.1732 6.27754 21.0508C6.09349 20.9285 5.9629 20.7547 5.90751 20.5585ZM22.0318 20.5585C21.9789 20.7459 21.8574 20.9131 21.6857 21.0345C21.514 21.1559 21.3016 21.2248 21.0809 21.2308H19.2702L20.4032 15.9231H23.4379L22.0318 20.5585Z" fill="35383A"/></svg>');
  margin-right: 10px;
  flex-shrink: 0;
}

.navigation__link {
  color: #35383a;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.navigation__link_disabled {
  pointer-events: none;
  color: #888;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  background-color: #00a82d;
  left: 85%;
  top: 8%;
}

.section-formAction {
  height: 540px;
  background: #F2F5F9;
  display: flex;
  justify-content: center;
}

.cart__form {
  width: 430px;
}
.cart__form_name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  color: #000000;
  margin-bottom: 35px;
}
.cart__form_input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 288px;
  height: 143px;
  margin-bottom: 64px;
}
.cart__form_input_name {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CACDD8;
}
.cart__form_input_name::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form_input_name::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form_input_telephone {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CACDD8;
}
.cart__form_input_telephone::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form_input_telephone::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form_input_adress {
  background: transparent;
  border: none;
  border-bottom: 1px solid #CACDD8;
}
.cart__form_input_adress::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form_input_adress::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart__form_buttontwo {
  background: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  width: 290px;
  height: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 28px;
  transition: all 0.3s;
  animation: bounce-top 0.9s both;
}
.cart__form_buttontwo_box {
  display: flex;
  justify-content: center;
}
.cart__form_buttontwo:hover {
  color: #ffffff;
  background-color: #000000;
}

.cart__item {
  border-bottom: 0.5px solid #cacdd8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}
.cart__item_name {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 274px;
  margin-right: 150.6px;
}
.cart__item_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.cart__item_price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}
.cart__item_link_box {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  text-decoration-line: underline;
  display: flex;
  color: #000000;
  gap: 30px;
}
.cart__item_link {
  color: #000000;
  cursor: pointer;
  font-size: 40px;
}

.cart__input {
  border: 0.5px solid black;
  width: 80px;
  height: 40px;
  background: #ffffff;
  box-sizing: border-box;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.up {
  display: block;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.down {
  display: block;
  text-align: center;
  width: 40px;
  font-size: 40px;
  cursor: pointer;
}

.InputControls {
  border: 0.5px solid black;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 160px;
}

.cart__img {
  margin-right: 64px;
}

.cart__item_total {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-right: 118px;
}

.cart__content {
  display: flex;
  flex-direction: column;
}

.cart__form_button {
  display: flex;
  gap: 14px;
}

.cart__button_clear {
  background: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  width: 200px;
  height: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  transition: all 0.3s;
  cursor: pointer;
}
.cart__button_clear:hover {
  color: #ffffff;
  background-color: #000000;
}

.cart__button_continue {
  background: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  width: 200px;
  height: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  transition: all 0.3s;
  cursor: pointer;
}
.cart__button_continue:hover {
  color: #ffffff;
  background-color: #000000;
}

.cart__form_price {
  display: block;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  margin: 30px 47px 60px 0;
  align-self: flex-end;
}

.buttonBye {
  width: 186px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background: #296DC1;
  display: none;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    margin-bottom: 32px;
  }
  .header {
    display: flex;
    justify-content: space-around;
    gap: 350px;
    padding-top: 32px;
    border: none;
  }
  .header_input {
    display: none;
  }
  .navigation {
    display: none;
  }
  .logo_img {
    width: 99px;
  }
  .menu_mob {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  .header__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .select {
    font-size: 14px;
  }
  .catalogItemsBox {
    margin-left: 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
  .item__about {
    width: 343px;
    margin-bottom: 8px;
  }
  .item__price {
    font-size: 18px;
    line-height: 22px;
  }
  .item {
    display: grid;
    grid-column: 1/-1;
  }
  /*    корзина   */
  .cartContainer {
    margin-top: 92px;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 64px;
  }
  .cart {
    margin-top: 92px;
  }
  .cart__name_box {
    display: none;
  }
  .cart__img {
    display: none;
  }
  .cart__item {
    justify-content: space-around;
  }
  .cart__item_name {
    Font-size: 18px;
    Line-height: 22px;
  }
  .cart__item_text {
    Font-size: 12px;
    Line-height: 15px;
  }
  .cart__item_price {
    Font-size: 12px;
    Line-height: 15px;
  }
  .cart__form_button {
    gap: 10px;
    justify-content: center;
  }
  .cart__button_clear {
    width: 166px;
    font-size: 12px;
  }
  .cart__button_continue {
    color: aliceblue;
    width: 166px;
    font-size: 12px;
    background: black;
  }
  .cart__form {
    grid-column: span 8;
    margin-left: 30px;
  }
}/*# sourceMappingURL=index.css.map */